
.edit-modal-con{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
    background-color: var(--white);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px -10px rgb(0, 0, 0,0.8);
}



.edit-modal-con>button{
    background-color: #ff4f4f;
    border-radius: 5px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.edit-modal-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit-modal-btn{
    background-color:teal;
    width: 80%;
    border-radius: 5px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 30px 0;
}
.edit-modal-con h2{
    padding: 30px 0;
    font-weight: 650;
}